<h1>Development#dashboard</h1>
<p>Find me in app/views/development/dashboard.html.erb</p>

<h2>Font Awesome</h2>
<i class="fa fa-cogs"></i>
<hr/>

<h2>Material Components Web</h2>
<button class="mdc-button">Default</button>
<button class="mdc-button mdc-button--raised">Raised</button>
<button class="mdc-button mdc-button--dense">Dense Default</button>
<hr/>

<h2>Materialize CSS</h2>
<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
<hr/>

