<h1>Development#dashboard</h1>
<p>Find me in app/views/development/dashboard.html.erb</p>

<h2>Animate CSS</h2>
<p class="animated infinite bounce">Example</p>
<hr/>

<h2>Bootstrap 4</h2>
<div>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>
</div>
<hr/>

<h2>Bootstrap Material Design</h2>
<div>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>
</div>
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
<hr/>

<h2>Bulma</h2>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Component
    </p>
    <a class="card-header-icon">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a>@bulmaio</a>. <a>#css</a> <a>#responsive</a>
      <br>
      <small>11:09 PM - 1 Jan 2016</small>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">Save</a>
    <a class="card-footer-item">Edit</a>
    <a class="card-footer-item">Delete</a>
  </footer>
</div>
<hr/>

<h2>Flat UI</h2>
<button type="button" class="btn btn-danger">Danger</button>
<hr/>

<h2>Font Awesome</h2>
<i class="fa fa-cogs"></i>
<hr/>

<h2>Font Material Design Icons</h2>
<i class="material-icons">pets</i>
<hr/>

<h2>Font Roboto</h2>
<span style="font-family:Roboto; font-weight: 400; font-style: italic; font-size: 20px;">Regular Italic</span>
<hr/>

<h2>Hover CSS</h2>
<a href="#" class="hvr-grow">Add to Basket</a>
<hr/>

<h2>jQuery</h2>
<hr/>

<h2>Material Components Web</h2>
<button class="mdc-button">Default</button>
<button class="mdc-button mdc-button--raised">Raised</button>
<button class="mdc-button mdc-button--dense">Dense Default</button>
<hr/>

<h2>Material Design Lite</h2>
<div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Button
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">add</i>
  </button>
</div>
<hr/>

<h2>Material UI</h2>
<hr/>

<h2>Materialize CSS</h2>
<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
<hr/>

<h2>PrimeNG</h2>
<hr/>

<h2>Pure CSS</h2>
<a class="pure-button pure-button-active" href="#">An Active Button</a>
<button class="pure-button pure-button-active">An Active Button</button>
<hr/>

<h2>React Tap Event Plugin</h2>
<hr/>

<h2>Semantic UI</h2>
<div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left pointing label">
    1,048
  </a>
</div>
<div class="ui labeled button" tabindex="0">
  <div class="ui basic blue button">
    <i class="fork icon"></i> Forks
  </div>
  <a class="ui basic left pointing blue label">
    1,048
  </a>
</div>
<hr/>

<h2>Tether</h2>
<hr/>

<h2>Vuetify</h2>
<hr/>
